@import "tailwindcss";
@import "tw-animate-css";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* --- MIS COLORES PERSONALIZADOS (ESTILO MIGUE) --- */
.bg-migue-beige {
  background-color: #D6Dac2;
}

.text-migue-gris {
  color: #4A4A4A;
}

.border-migue {
  border-color: #4A4A4A;
}

.day-available {
  background-color: #7A9A75 !important;
  color: white !important;
  border-radius: 50%;
}

/* Día completo (Rojo Suave) */
.day-full {
  background-color: #e57373 !important; /* Un rojo que combine con el estilo tranqui */
  color: white !important;
  border-radius: 50%;
}

/* Para que el número se vea bien sobre los colores */
.day-available:hover, .day-full:hover {
  opacity: 0.8;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}
